<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>282440631016-o6si5a5i89j9gdq638p5terora14qfk0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.282440631016-o6si5a5i89j9gdq638p5terora14qfk0</string>
	<key>API_KEY</key>
	<string>AIzaSyAIz8mBpdjBsNxoPQLZSWhmi4D2fzXLldU</string>
	<key>GCM_SENDER_ID</key>
	<string>282440631016</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.findingjanus.findingjanus</string>
	<key>PROJECT_ID</key>
	<string>findingjanus-59cfb</string>
	<key>STORAGE_BUCKET</key>
	<string>findingjanus-59cfb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:282440631016:ios:152816be66087a1f4aff5d</string>
</dict>
</plist>